.dayContainer {
	margin-top: 30px;
}

.diaryTitle {
	margin-top: -30px;
}

.todayDate {
	text-align: right;
}
.dayPart {
	text-align: left;
}
.affirmationDiv > input,
.eveningTextareaDiv > textarea,
.eveningInputDiv > input  {
	display: block;
	width: 100%;
}
.affirmationDiv > label,
.eveningTextareaDiv > label,
.eveningInputDiv > label {
	font-size: 12px;
}

.pageInputNum {
	width: 50px;
}
.morningInputDiv {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}
.morningInputDiv > div > div {
	margin-top: 10px;
	text-align: right;
}

.eveningInputDiv {
	display: block;
	margin-top: 10px;
}

.eveningCheckboxDiv, .eveningNumDiv {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
.eveningCheckboxDiv > div,
.eveningNumDiv > div {
	margin: 0 50px;
}

.savePage {
	width: 200px;
	margin-top: 30px;
}

.pickerDivDay {
	text-align: left;
	width: 200px;
	position: relative;
}
.pickerDivTime {
	display: inline-block;
	width: 100px;
}

@media only screen /* 320px — 480px */
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

@media only screen /* 481px — 768px */
and (min-device-width : 481px) 
and (max-device-width : 768px) {

}

@media only screen /* 769px — 1024px */
and (min-device-width : 760px) 
and (max-device-width : 1024px) {

}

@media only screen /* 1025px — 1200px */
and (min-device-width : 1025px) 
and (max-device-width : 1200px) {

}

@media only screen /* 1201px - 1823px */
and (min-device-width : 1201px) 
and (max-device-width : 1823px) {

}

@media only screen /* 1824px */
and (min-device-width : 1824px) {

}