.chooseDateInp {
	display: block;
	font-size: 14px;
	margin-top: 30px;
}
.diaryTitle {
	margin-top: -30px;
}

.todayDate {
	text-align: right;
}
.dayPart {
	text-align: left;
}
.affirmationDiv > input {
	display: block;
	width: 100%;
}
.affirmationDiv > label {
	font-size: 12px;
}

.pageInputNum {
	width: 50px;
}
.morningInputDiv {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}
.morningInputDiv > div > div {
	margin-top: 10px;
	text-align: right;
}

.eveningInputDiv {
	margin-top: 10px;
}
.eveningInputDiv > label {
	width: 20%;
}
.eveningInputDiv > input {
	width: 80%;
}
.eveningCheckboxDiv, .eveningNumDiv {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}
.eveningCheckboxDiv > div,
.eveningNumDiv > div {
	margin: 0 50px;
}

.eveningTextareaDiv > textarea {
	width: 80%;
}

.savePage {
	width: 200px;
	margin-top: 30px;
}