.pickerContainer {
	width: 200px;
	height: 220px;
	border: 1px solid black;
	text-align: center;
	background-color: rgb(238, 236, 236);
	position: absolute;
}
.datePickerContainer {
	width: 250px;
	height: 250px;
}
.timePickerContainer {
	width: 130px;
}

.yearContainer {
	margin: 0 10px 10px;
	display: flex;
	justify-content: space-between;
}

.monthContainer, .dayNumContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1rem;
}
.monthContainer > span {
	min-width: 80px;
	margin: 5px 10px;
	border-bottom: 0.5px solid;
}
.monthContainer > span:hover, .dayNumContainer > span:hover, .hourContainer > span:hover {
	font-size: 1rem;
}

.dayNumContainer > span, .hourContainer > span {
	min-width: 20px;
	margin: 5px 10px;
	border-bottom: 0.5px solid;
}

.timeContainer {
	display: flex;
	justify-content: space-around;
	height: 190px;
	overflow-y: hidden;
}
.hourContainer {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
    overflow-y: scroll;
}
.hourContainer::-webkit-scrollbar {
	display: none;
}

.cancel {
	display: block;
	font-size: 1rem;
	cursor: pointer;
	margin-top: 10px;
}

@media only screen /* 320px — 480px */
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

@media only screen /* 481px — 768px */
and (min-device-width : 481px) 
and (max-device-width : 768px) {

}

@media only screen /* 769px — 1024px */
and (min-device-width : 760px) 
and (max-device-width : 1024px) {

}

@media only screen /* 1025px — 1200px */
and (min-device-width : 1025px) 
and (max-device-width : 1200px) {

}

@media only screen /* 1201px - 1823px */
and (min-device-width : 1201px) 
and (max-device-width : 1823px) {

}

@media only screen /* 1824px */
and (min-device-width : 1824px) {

}