.pickerContainer {
	width: 200px;
	height: 220px;
	border: 1px solid black;
	text-align: center;
	background-color: rgb(238, 236, 236);
	position: absolute;
}
.datePickerContainer {
	width: 250px;
	height: 250px;
}
.timePickerContainer {
	width: 130px;
}

.yearContainer {
	margin: 0 10px 10px;
	display: flex;
	justify-content: space-between;
}

.monthContainer, .dayNumContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 14px;
}
.monthContainer > span {
	min-width: 80px;
	margin: 5px 10px;
	border-bottom: 0.5px solid;
}
.monthContainer > span:hover, .dayNumContainer > span:hover, .hourContainer > span:hover {
	font-size: 16px;
}

.dayNumContainer > span, .hourContainer > span {
	min-width: 20px;
	margin: 5px 10px;
	border-bottom: 0.5px solid;
}

.timeContainer {
	display: flex;
	justify-content: space-around;
	height: 190px;
	overflow-y: hidden;
}
.hourContainer {
	display: flex;
	flex-direction: column;
	font-size: 14px;
    overflow-y: scroll;
}
.hourContainer::-webkit-scrollbar {
	display: none;
}

.cancel {
	display: block;
	font-size: 14px;
	cursor: pointer;
	margin-top: 10px;
}
