/* admin */
.adminTabs {
	margin: 0 auto;
}
.tabs {
	display: flex;
	justify-content: space-between;
}
.tabs button {
	border: none;
	cursor: pointer;
	height: 30px;
	font-size: 18px;
	width: 100%;
	transition: all 0.5s ease-out;
}

.adminPanelDiv {
	text-align: right;
}

.adminCardTable, tr {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}
.adminCardTable > thead > tr {
	text-align: center;
}
.adminCardTable > tbody > tr {
	border-bottom: 1pt solid black;
}
.adminCardTableFile {
	width: 20%;
}
.adminCardTable > tbody > tr > td > textarea {
	width: 97%;
}
.previewCard {
	height: 100px;
}
.saveCardTd {
	width: 3%;
}
.saveCard {
	width: 75px;
	font-size: 12px;
	height: 30px;
	border: 1px solid;
	border-radius: 25px;
	cursor: pointer;
}

/* user */
.selectDeck {
	font-size: 18px;
	width: 200px;
	margin: 20px 0 50px;
}
.inputQuestion {
	width: 100%;
	border-radius: 10px;
	height: 30px;
}
.questionBtn {
	margin-top: 20px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid;
	border-radius: 25px;
	font-weight: 700;
	cursor: pointer;
}

.cardImage, .cardDescription {
	width: 500px;
	height: 625px;
}
.cardDescription {
	margin: auto;
	background-color: rgba(0, 0, 0, 0.7);
}
.cardDescription > p {
	padding: 200px 40px;
	color: #ffffff;
	line-height: 1.7;
}