/* tabs */
.adminTabs {
	margin: 0 auto;
}
.tabs {
	display: flex;
	justify-content: space-between;
}
.tabs button {
	border: none;
	cursor: pointer;
	height: 30px;
	font-size: 18px;
	width: 100%;
	transition: all 0.5s ease-out;
}

/* admin page */
.adminPanelDiv {
	text-align: right;
}
.adminSelectDeck {
	font-size: 18px;
	width: 200px;
	margin-bottom: 30px;
}

.adminCardTable, tr {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}
.adminCardTable > thead > tr {
	text-align: center;
}
.adminCardTable > tbody > tr {
	border-bottom: 1pt solid black;
}
.adminCardTableFile {
	width: 30%;
}
.adminCardTable > tbody > tr > td > textarea {
	width: 99%;
}
.previewCard {
	height: 150px;
}