.dropdown {
	margin-left: 70%;
	top: -50px;
}
.mainmenubtn {
    cursor: pointer;
	font-size: 20px;
	border: 2px solid;
	width: 70px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    min-width: 200px;
	border: 1px solid;
}
.dropdown-child a {
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}